
<style>
  .content { max-width: 1280px; margin: 30px auto 0; padding: 0 20px; }
  .menu a.checked { text-decoration: line-through; }
</style>

<div class="content">
  <h1>TODO</h1>

  <form class="js-add-item">
    <label>New Item
      <input type="text" id="item_name">
    </label>
  </form>

  <ul class="vertical menu js-item-list"></ul>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
